body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.flexible-container {
    height: 700px;
    margin-bottom: 400px;
}

.donate-banner {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #ff5959;
    padding: 15px 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donate-decribe {
    text-align: center;
    margin-bottom: 50px;
}

.donate-amount {
    margin-top: 50px;
    margin-bottom: 50px;
}

.donate-amount>button {
    border: none;
    color: #707070;
    padding: 40px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 40px;
    cursor: pointer;
}

.donate-amount>button:nth-child(2) {
    background-color: #e6c7c7;
    border: 3px solid #ff5959;
    color: #d63838;
}




.other p {
    font-size: 18px;
    color: #B3B3B3;
}

.other>hr {
    background: #B3B3B3;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 45px;
}


.donate-button {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #ff5959;
    padding: 15px 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* donate -plan */


.donation-plan {
    margin-top: 150px;
}

.doante-plan {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donate-plan-p {
    font-size: 18px;
    color: #B3B3B3;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-weight: bold;
}

#food {
    height: 300px;
    background: #4f9da61a;
    border-radius: 5px;
}

.half-width {
    width: 50%;
    float: left;
    margin: 40px;
    padding: 2%;
}

.plan img {
    width: 20%;
    margin-top: 5px;
}

#shelter {
    height: 300px;
    background: #ff59591a;
    border-radius: 5px;
}

#education {
    height: 300px;
    background: #fff4d6;
    border-radius: 5px;
}


/* Donate-description */


.donation-page img {
    width: 100%;
    border-radius: 5px;
}


.donation-page-text {
    font-size: 45px;
}

.pera-text {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 5%;
}


/* update */

.update-container {
    height: 600px;
    margin-bottom: 200px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.update-text h1 {
    font-size: 45px;
    text-align: center;
}

.update-text p {
    font-size: 18px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.email-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4D6;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
}


.email-input input:not(:last-child) {
    border: none;
    font-size: 18px;
    font-weight: 500;
    background: #D9D9D9;
    padding-left: 10px;
    width: 400px;
    height: 60px;
    border-radius: 5px 0px 0px 5px;
}


.email-input input:not(:first-child) {
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #ff5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 60px;
    width: 160px;
    cursor: pointer;
}


/* Contact */
.contact-container {
    display: flex;
    height: 600px;

    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.contact-img {
    background-size: 100%;
    width: 90%
}

.contact-page-text {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}

.input-form {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid salmon;
    border-radius: 4px;
    width: 85%;
}

.input-form-text-area {
    padding: 35px 15px;
    border: 1px solid salmon;
    border-radius: 4px;
    width: 85%;
}

#send-btn {
    border: none;
    cursor: pointer;
}


/* Footer-Section */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}










/* .donation-flexible {
    display: flex;
}

.donation-page-text {
    font-size: 45px;
}

.para-text {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 5%;
}

.donation-page img {
    width: 100%;
    border-radius: 5px;
}

.half-width img {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
} */

/* half-width img {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}
. */













/* .donation-banner {
    background-image: url(images/donation0.jpg);
    background-image: -moz-linear-gradient(rgb(59, 50, 50));
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    color: white;
}

.White-color {
    color: white;
} */